{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'users_css.css' %}">
</head>
<body>
  <h1 class="h2">User Information</h1>
  <p class="username-p">Username: {{ user.username }}</p>
  <p class="username-p">Full Name: {{ user.usermodel.fullname }}</p>
  <p class="username-p">Email: {{ user.email }}</p>
  <p class="username-p">Phone Number: {{ user.usermodel.phone_number }}</p>
  <p class="username-p">Gender: {{ user.usermodel.gender }}</p>

  <h2>My Tweets</h2>
    {% for tweet in mytweets %}
      <div class="my-tweet">
        <p class="my-tweet-hashtag">Hashtag: <a href="/hashtag/{{ tweet.hashtag }}">{{ tweet.hashtag }}</a></p>
        <p class="my-tweet-question">{{ tweet.question }}</p>
        <div class="my-tweet-container">
          <p class="my-tweet-more">Like: {{ tweet.likes.count }}</p>
          <p class="my-tweet-more">Comment: {{ tweet.comment_count }}</p>
          <p class="my-tweet-more"> ID: {{ tweet.id }}</p>
          <p class="my-tweet-date">Date: {{ tweet.date|date:"H:i, d.m.Y" }}</p>
        </div>
      </div>
    {% endfor %}


  <a href="{% url 'tweet_list' %}" class="back btn btn-secondary">Back to Home</a>
  
</body>
</html>